                                                    /*FUENTES AGREGADAS  */
@font-face {
    font-family: fontuno;
    src: url(/Multimedia/fonts/LEMONMILK-RegularItalic.otf);
}
@font-face{
    font-family: fontdos;
    src: url(/Multimedia/fonts/LEMONMILK-BoldItalic.otf);
}




                                                    /* HEADER */

header{
    padding: 4rem;
}
h1{
    font-family: fontudos;
    font-size: 4rem;
    margin-top: 2rem;
}

@media screen and (max-width:1200px){
    h1{
        display: none;
    }
    header img{
        display: flex;
        justify-content: center;
    }
}

                                                    /*  NAVBAR */
nav{
    padding:15rem;
    height: 5rem;
    font-weight: bold;
    border-radius: 10%;
}

                                                    /* SECCION A */
h2{
    padding-bottom: 4rem;
    font-size: 3rem;
    font-family: monospace;
    text-decoration: underline;
}
.seccionA{
    padding: 4rem;
}
                                                    /* FOOTER   */
footer{
    border: 1rem double black;
}
footer p{
padding-top: 1rem;
font-weight: bold;
font-family: monospace;
}
.iconsF{
    padding-top: 4rem;
}

                                                    /* CATALOGO */

.bio{
    margin-top: 1rem;
    font-family: fontuno;
    padding: 5rem;
    border: 1rem double black;
    border-radius: 5%;
}