
                                                    /* HEADER */

header{
    padding: 4rem;
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
}

                                                    /*  NAVBAR */
nav{
    padding:15rem;
    height: 5rem;
    font-weight: bold;
    border-radius: 10%;
}

                                                    /* SECCION A */
h2{
    padding-bottom: 4rem;
    font-size: 3rem;
    font-family: monospace;
    text-decoration: underline;
}
.seccionA{
    padding: 4rem;
}
                                                    /* FOOTER   */
footer{
    border: 1rem double black;
}
footer p{
padding-top: 1rem;
font-weight: bold;
font-family: monospace;
}
.iconsF{
    padding-top: 4rem;
}

                                                    /* CATALOGO */

.card-body{
    border-radius: 10%;
}