
                                                    /* HEADER */

header{
    padding: 4rem;
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
}

                                                    /*  NAVBAR */
nav{
    padding: 15rem;
    height: 5rem;
    font-weight: bold;
    border-radius: 10%;
}

                                                    /* SECCION A */
h2{
    padding: 2rem;
    font-size: 3rem;
}
